@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px 15px 0 15px;
  margin: 0 auto;
  width: 900px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.container > :last-child {
  margin-bottom: 20px;
}

.init__center {
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 33px;
  color: rgb(22, 85, 115);
  display: flex;
  align-items: center;
}
.title svg {
  margin-left: 10px;
}

.form {
  margin-top: 15px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input {
  border: 1px solid rgb(22, 85, 115);
  border-radius: 50px;
  width: 70%;
  height: 50px;
  padding: 0 10px;
  font-size: 18px;
}
.form__input:focus {
  box-shadow: 0 0 10px rgba(146, 167, 177, 0.452);
}

.forn__btn {
  color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 28%;
  height: 50px;
  font-size: 18px;
  background: rgb(22, 85, 115);
  transition: all 0.4s ease;
}
.forn__btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(146, 167, 177, 0.452);
}

.box__item {
  border: 1px solid rgb(22, 85, 115);
  border-radius: 15px;
  width: 100%;
  height: 160px;
  padding: 12px 15px;
  font-size: 18px;
  color: rgb(22, 85, 115);
  margin-top: 20px;
}
.box__item > :not(:last-child) {
  margin-bottom: 10px;
}
.box__item p {
  font-weight: 600;
}
.box__item p span {
  font-weight: 400;
  color: rgb(51, 52, 52);
}
.box__item p span a {
  font-weight: 400;
  color: rgb(51, 52, 52);
}
.box__item p span a:hover {
  color: rgb(0, 164, 164);
}

.p {
  font-size: 18px;
  color: rgb(22, 85, 115);
  margin-top: 20px;
}

.error {
  font-size: 18px;
  color: rgb(239, 12, 12);
  margin-top: 20px;
}